.card {
    padding: .5rem 1rem;
    border: 1px dashed #ccc;
    margin: 1rem;


    h2 {
        margin-bottom: .5rem;
        color: burlywood;
    }

    .text{
        font-size: 1.5rem;

        &.red{
            color: red;
        }

        &.green{
            color: green;
        }

        &.blue{
            color: blue;
        }

    }


}

button {
    margin-bottom: .5rem;
}
